@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";

* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  font-family: 'Noto Sans Thai', 'Nunito Sans', sans-serif !important;
}